<!--#TITLE-->
D-LAN
<!--#PRE-SCRIPTS-->
https://js.stripe.com/v3/
<!--#POST-SCRIPTS-->
script.js
<!--#BODY-->
<div id="booking" class="page">
  <div class="card">
    <h1>Boka plats:</h1>
    <form id="payment-form" action="/submit" method="POST">
      <label for="id">LIU-ID:</label><br />
      <input type="text" id="id" name="id" /><br />

      <label for="place">Place:</label><br />
      <input type="text" id="place" name="place" /><br />

      <label for="address">Address:</label><br />
      <input type="text" id="address" name="address" /><br />

      <label for="mail">Mail:</label><br />
      <input type="email" id="mail" name="mail" /><br />

      <div id="card-element"></div>

      <input id="submit" type="submit" value="Boka plats" /><br />
    </form>
  </div>
</div>
