<!--#TITLE-->
Discord-LAN
<!--#BODY-->
<div class="page">
  <div class="card">
    <h1>Välkommen till Discord-LAN</h1>
    <p>Informativ text</p>

    <h2>Lanet kommer att hållas i Akt-Us discord-server</h2>
    <a href="https://discord.com/channels/694898914452570232">
      <img src="assets/discord.svg" />
      Klicka här för att gå med!
    </a>
  </div>
  <div class="card">
    <h1>Turneringar</h1>
    <ul>
      <li>CS:GO</li>
      <li>Starcraft 2</li>
      <li>MC:Hunger Games</li>
      <li>LoL</li>
      <li>Rocket League</li>
    </ul>
  </div>
</div>
