<!--#TITLE-->
D-LAN 2021
<!--#BODY-->
<div id="front-page">
  <img class="logo" src="/assets/logo.svg" alt="Logga" />

  <h4 id="date">
    D-LAN är tyvärr uppskjutet,<br />Scrolla ner för att läsa mer
  </h4>

  <div class="menu">
    <a href="/tournaments">Turnering</a>

    <!-- Hide this until the LAN has started -->
    <a href="/livestream">Livestream</a>

    <!-- <a href="/booking">Boka plats</a> -->
    <a href="/about">Om oss</a>
  </div>

  <div class="social-links">
    <a id="twitch" href="">
      <img src="/assets/twitch.svg" alt="twitch" />
    </a>

    <a id="facebook" href="">
      <img src="/assets/facebook.svg" alt="facebook" />
    </a>

    <a id="discord" href="">
      <img src="/assets/discord.svg" alt="discord" />
    </a>
  </div>

  <a href="#news" src="/assets/icons/down-arrow.svg" id="go-down"></a>
</div>

<div id="news" class="page">
  <div class="card">
    <h1>D-LAN är uppskjutet,</h1>
    <h3>men oroa er inte, vi har en lösning!</h3>

    <p>
      På grund av COVID-19, och LIUs restriktioner så kommer inte D-LAN att bli
      av i februari som vanligt.
    </p>
  </div>

  <div class="card">
    <h1>D:et står för Discord</h1>

    <p>
      Den 12 - 14 Februari kommer vi hålla ett D(istans)-LAN på AktUs
      discordserver.
    </p>
  </div>
</div>

<div id="about" class="page">
  <h1>Vilka är vi som jobbar med D-LAN?</h1>
  <div class="staff-list">
    <div>
      <img src="/assets/faces/arvid.jpg" />
      <h5>Arvid Westerlund</h5>
      <h6>Projektledare</h6>
    </div>

    <div>
      <img src="/assets/faces/adrian.jpg" />
      <h5>Adrian Byström</h5>
      <h6>Personalwerk</h6>
    </div>

    <div>
      <img src="/assets/faces/anthony.jpg" />
      <h5>Anthony Boer</h5>
      <h6>Spons & Event</h6>
    </div>

    <div>
      <img src="/assets/faces/gabriel.jpg" />
      <h5>Gabriel Hult</h5>
      <h6>Tryck & PR</h6>
    </div>

    <div>
      <img src="/assets/faces/simon.jpg" />
      <h5>Simon Gutgesell</h5>
      <h6>Webb & Stream</h6>
    </div>

    <div>
      <img src="/assets/faces/rasmus.jpg" />
      <h5>Rasmus Wallin</h5>
      <h6>Nät</h6>
    </div>

    <div>
      <img src="/assets/faces/jakob.jpg" />
      <h5>Jakob Österberg</h5>
      <h6>Elwerk</h6>
    </div>

    <div>
      <img src="/assets/faces/viktor.jpg" />
      <h5>Viktor Norgren</h5>
      <h6>Turnering & Biljett</h6>
    </div>
  </div>
</div>
