<!--#TITLE-->
D-LAN Livestream
<!--#BODY-->
<!-- Twitch -->
<!-- Add a placeholder for the Twitch embed -->
<div id="twitch-embed"></div>

<!-- Load the Twitch embed script -->
<script src="https://embed.twitch.tv/embed/v1.js"></script>

<!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
<script type="text/javascript">
  new Twitch.Embed("twitch-embed", {
    width: 854,
    height: 480,
    channel: "monstercat", // Change this
  });
</script>
<!-- Discord-integration -->
<!-- Länk till pågående turnering -->
