<!--#TITLE-->
Turneringar
<!--#BODY-->
<div class="page">
  <h1>Lagturneringar</h1>
  <ul>
    <li>Rocket league</li>
    <li>CS:GO</li>
    <li>League of Legends</li>
  </ul>
</div>

<div class="page">
  <h1>Soloturneringar</h1>
  <ul>
    <li>StarCraft II</li>
    <li>Shack</li>
    <li>Minecraft Hunger Games</li>
    <li>Mario Cart och Super Smash Bros: Ultimate</li>
  </ul>
</div>
