html,
body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1,
h2 {
  text-align: center;
  color: skyblue;
  font-family: "arial black";
  text-shadow: 0 0 64px rgba(135, 206, 235, 0.5);
}

h1 {
  font-size: 128px;
  margin-bottom: 0;
}

h2 {
  font-size: 32px;
  letter-spacing: 12px;
}
