@use 'main';

#discord-lan {
  width: 50%;
}

span.between {
  width: 256px;
  display: flex;
  justify-content: space-between;
}

div.links {
  // @extend %flex;
  @extend %flex-col;

  a {
    @extend %shadow;
    @include main.button(16px);
    margin: 8px;
  }
}
