@use "main";

div#front-page {
  height: 100vh;

  @include main.desktop {
    background-image: url(/assets/background.png);
  }

  @include main.mobile {
    background-image: url(/assets/background-mobile.png);
  }

  background: {
    size: cover;
    position: center;
  }

  @extend %flex-col;
  @extend %shadow;
}

.logo {
  height: 200px;
}

#date {
  color: main.$sand;
  font-size: 32px;
}

div.menu {
  @extend %flex;
  @include main.mobile {
    flex-direction: column;
  }

  a {
    @include main.button(32px);
    margin: 16px;
  }
}

div.social-links {
  @extend %flex;

  a {
    @extend %flex;

    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 16px;

    &#twitch {
      background-color: #9146ff;
    }

    &#facebook img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    &#discord {
      background-color: #7289da;
    }

    &#discord,
    &#twitch {
      img {
        width: 40px;
        height: 40px;
      }
    }

    &:hover {
      width: 72px;
      height: 72px;
      margin: 12px 12px;
      &#discord,
      &#twitch {
        img {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}

a#go-down {
  position: absolute;
  bottom: 0;
  width: 64px;
  height: 64px;

  background-image: url(/assets/icons/down-arrow.svg);

  &:hover {
    width: 72px;
    height: 72px;
    cursor: pointer;
    bottom: -8px;
  }
}

div.staff-list {
  @extend %flex-wrap;

  div {
    @extend div, .box;
    width: 200px - 32px;
    max-width: calc(50vw - 64px);

    img {
      width: 100%;
      border-radius: 8px;
    }
  }
}
