@use 'main';

span.between {
  width: 256px;
  display: flex;
  justify-content: space-between;
}

div.links {
  @extend %flex-col;

  a {
    @extend %shadow;
    @include main.button(16px);
    margin: 8px;
  }
}

a.link {
  @extend %shadow;
  @include main.button(16px);
  margin: 8px;
}
