$bg: #1d2021;
$bg2: #282828;
$navy: #001d51;
$bluish: #2f9291;
$turquoise: #61ccca;
$sand: #edc79b;
$peach: #d57a66;
$strawberry: #b63e5e;

$desktop-min-width: 800px;

%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-col {
  @extend %flex;
  flex-direction: column;
}

%flex-wrap {
  @extend %flex;
  flex-wrap: wrap;
}

%shadow {
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 50%);
}

%heading {
  font: {
    family: "Exo", sans-serif;
    weight: bold;
  }
  margin: 1em 0;
  color: $peach;
}

%text {
  font: {
    family: "Lato", sans-serif;
    weight: bold;
  }
  color: $sand;
}

%button {
  border-width: 0;
  @extend %text;
  text: {
    align: center;
    decoration: none;
  }
  background-color: $bluish;
  cursor: pointer;

  &:hover {
    background-color: $turquoise;
  }
  transition-duration: 100ms;
}

@mixin button($size) {
  border-radius: $size / 2;
  padding: ($size / 2) $size;
  font-size: $size;
  @extend %button;
}

@mixin desktop {
  @media only screen and (min-width: #{$desktop-min-width}) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: #{$desktop-min-width}) {
    @content;
  }
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: $bg;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %heading;
}

p,
li {
  @extend %text;
}

div.page {
  width: 800px;
  max-width: calc(100% - 32px);
  margin: auto;
}

div.card {
  @extend %flex-col;
  @extend %shadow;
  @include desktop {
    padding: 50px 100px;
  }
  @include mobile {
    padding: 50px;
  }
  margin: 16px auto;
  background-color: $bg2;
  border-radius: 8px;
}

div.box {
  @extend %flex-col;
  @extend %shadow;
  margin: 16px;
  padding: 16px;
  background-color: $bg2;
  border-radius: 8px;
}

form {
  label {
    margin-left: 16px;
    margin-bottom: 4px;
    @extend %text;
  }

  input:not([type="submit"]) {
    border: {
      color: $bluish;
      radius: 8px;
      width: 2px;
      style: solid;
    }

    background-color: $bg;
    font-size: 16px;
    color: $sand;

    width: 100%;
    padding: 4px 16px;
    margin-bottom: 32px;
  }

  input[type="submit"] {
    @extend %button;
    width: 100%;
  }

  input:focus {
    outline: none;
    border-color: $turquoise;
  }
}
